:root {

    /* BACKGROUND COLOR */
    --color-primary: #254A71;
    --text-border-color: #24305F;
    --text-form-color: #4E7BAA;

    /* LETTER COLOR */
    --subtitle-color: #9CACED;
    --portfolio-color: #487CB2;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'inter-regular';
    src: url(../../fonts/Inter_28pt-Regular.ttf);
}

@font-face {
    font-family: 'inter-semiBold';
    src: url(../../fonts/Inter_24pt-SemiBold.ttf);
}

@font-face {
    font-family: 'inter-bold';
    src: url(../../fonts/Inter_28pt-Bold.ttf);
}

@font-face {
    font-family: 'inter-extraBold';
    src: url(../../fonts/Inter_28pt-ExtraBold.ttf);
}


#video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #204062;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}

#video-container {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 100vh;
}

#logo-intro-video {
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: contain; /* Mantém a proporção sem cortar */
}

/*INICIO HEADER*/
.header {
    width: 100%;
    height: 6.25rem;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    z-index: 999;
    position: fixed;
    transition: background-color 0.4s ease;
}

.header.scrolled::after {
  content: "";
  position: absolute;
  bottom: -3rem;
  height: 50px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--color-primary));
  opacity: 0.9;
  z-index: 5;
  transform: rotate(180deg);
  transition: background-color 0.4s ease;
}

.header.transparent {
    background-color: rgba(32, 64, 98, 0.2); /* cor azul com transparência */
    transition: background-color 0.4s ease;
}

.header.scrolled {
    background-color: var(--color-primary); /* azul sólido */
    transition: background-color 0.4s ease;
}

.logo-banner {
    padding-left: 4rem;
    cursor: pointer;
}

.logo-image {
    width: 14rem;
    padding-top: 1rem;
    margin-left: -1.5rem;
    transition: all 300ms ease-in-out;
}

.logo-image:hover {
  transform: scale(1.1);
  transition: all 300ms ease-in-out;
}


.navigator {
    position: absolute;
    width: auto;
    right: 20rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.navigator ul {
  display: flex;
}

.navigator li {
  padding: 0.5rem 3rem;
  margin-right: 2rem;
}

.navigator li:first-child {
  padding-left: 0;
}

.navigator li:last-child {
  padding-right: 0;
}

.navigator a {
  color: #ffff;
  font-size: 0.9rem;
  font-family: 'inter-bold';
  transition: all 0.2s;
}

.navigator a:hover {
    color: var(--text-border-color);
    transition: all 0.4s;
}

.content_btn_contact {
    position: absolute;
    right: 4rem;
    background-color: #ffff;
    color: #204062;
    width: 9rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    font-family: 'inter-bold';
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.content_btn_contact:hover {
    background-color: #204062;
    color: #ffff;
    border: solid #fff 2px;
    transition: all 400ms ease-in-out;
}

.content_btn_contact:hover img {
    filter: brightness(0) invert(1);
}


.hamburger {
    position: absolute;
    width: 30px;
    height: auto;
    cursor: pointer;
    right: 2rem;
    display: none;
}

.hamburger div {
    width: 100%;
    height: 0.2rem;
    margin-top: 0.4rem;
    background-color: #fff;
}

/*RESPONSIVIDADE HEADER*/

@media(max-width: 1366px) {
    .navigator {
        right: auto;
        left: 50%;
        transform: translateX(-45%);
    }

    .navigator li {
        padding: 0.5rem 1rem;
    }

    .content_btn_contact {
        width: 7.4rem;
        height: 2rem;
        font-size: 0.7rem;
    }

    .content_btn_contact img {
        width: 1.4rem;
    }
}

@media(max-width: 1044px) {
    .navigator a {
        font-size: 0.8rem;
    }

    .navigator li {
        padding: 0.5rem 0.6rem;
    }
}

@media(max-width: 870px) {
    .hamburger {
        display: block;
    }

    .logo { 
        padding-left: 2rem;
    }

    .navigator {
        position: absolute;
        width: 20rem;
        height: auto;
        top: 0rem;
        left: auto;
        right: -20rem;
        transform: translateX(0);
        background-color:#204062;
        align-items: center;
        padding: 0;
        z-index: 100;
        transition: all 1s;
      }

      .navigator.active {
        right: 0;
      }

    .navigator li:first-child {
        padding-top: 1rem;
    }

    .navigator li:last-child {
        padding-bottom: 3rem;
    }
    

    .navigator ul {
        flex-direction: column;
        gap: 20px;
        border-bottom: solid #fff 1px;
    }

    .navigator li {
        padding: 0rem 0rem;
        width: 10rem;
        height: 1rem;
        margin: 0.8rem;
    }

    .content_btn_contact {
        position: relative;
        display: block;
        left: 1rem;
        margin: 1rem 0rem;
        display: flex;
    }

    .menu-toggle {
        position: absolute;
        margin: 0.6rem;
        right: 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
      
      .menu-toggle span {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background: white;
        transition: all 0.3s ease;
      }
      
      /* Criar o X */
      .menu-toggle span:nth-child(1) {
        transform: rotate(45deg);
      }
      
      .menu-toggle span:nth-child(2) {
        transform: rotate(-45deg);
      }

      .overlay-blur {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(1px);
        background-color: rgba(0, 0, 0, 0.3); /* opcional para escurecer */
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
      }
      
      /* Quando o menu está ativo, o blur aparece */
      .navigator.active + .overlay-blur {
        opacity: 1;
        pointer-events: all;
      }
}


.hero-clientes {
  position: relative;
  background: url('../../media/banner-about-us.jpg') center bottom/cover no-repeat;
  background-position: center 10%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* escurece o fundo */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  left: -30%;
  top: 30%;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.scroll-down {
  margin-top: 5px;
  font-size: 2rem;
  animation: bounce 2s infinite;
}

/* animação suave da seta */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}


.blue-section {
    background-color: #254163; /* azul escuro semelhante ao da imagem */
    height: 35rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.image-container {
  max-width: auto;
  height: auto;
}

.image-container img {
    max-width: 650px;
    height: auto;
    border-radius: 8px;
    margin-left: 1.3rem;
}
.content-container {
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.content-item1 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 5rem;
}

.content-item2 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 5rem;
}

.content-item3 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  
}

.content-item1, .content-item2, .content-item3 {
  margin-left: -60px;
  transition: all 300ms ease-in-out;
  
}

.content-item1:hover, .content-item2:hover, .content-item3:hover {
  transform: scale(1.02);
  transition: all 300ms ease-in-out;
}

.content-item1 img, .content-item2 img, .content-item3 img {
  width: 60px;
}

.content-item i {
    font-size: 30px;
    color: white;
}
.text {
    display: flex;
    flex-direction: column;
}
.text h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'inter-semiBold';
}
.text p {
    margin: 5px 0 0;
    font-size: 0.9em;
    color: #d0d7e1;
    font-family: 'inter';
    max-width: 30rem;
    text-align: justify;
}

@media(max-width: 1460px) {
  .image-container img {
    max-width: 600px;
}
  .content-container {
      max-width: 500px;
  }

  .content-item1 {
    margin-bottom: 5rem;
}

.content-item2 {
    margin-bottom: 5rem;
}


}

@media(max-width: 1250px) {

  .blue-section {
    gap: 4rem;
  }

  .image-container img {
    max-width: 500px;
}
  .content-container {
      max-width: 400px;
  }

  .content-item1 {
    margin-bottom: 2rem;
}

.content-item2 {
    margin-bottom: 2rem;
}


}

@media(max-width: 980px) {

  .blue-section {
    gap: 2rem;
  }

  .image-container img {
    max-width: 450px;
}
  .content-container {
      max-width: 300px;
  }

}


@media (max-width: 800px) {

  .blue-section {
    height: auto;
  }

  .section-second-content {
    flex-direction: column;
  }

  .image-container img {
    position: relative;
    margin-top: 5rem;
    max-width: 500px;
}

  .content-container {
    margin-bottom: 10rem;
    max-width: 500px;
}
}

@media (max-width: 520px) {

  .blue-section {
    height: 50rem;
  }

  .image-container {
    width: 90%;
  }

  .image-container img {
    width: 100%;
    margin-top: 3rem;
}

  .content-container {
    max-width: 90%;
}
}

.section-second {
  height: 70vh;
  display: flex;
  align-items: center;
}

.section-second-content {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.second-text-block {
  flex: 1 1 60%;
}

.second-text-block h2 {
  font-size: 2rem;
  color: #1a1a1a;
  margin-bottom: 20px;
  font-family: 'inter-bold';
  
}

.second-text-block p {
  color: #444;
  margin-bottom: 20px;
  line-height: 1.6;
  font-family: 'inter';
  text-align: justify;
}

.section-checks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-checks li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.95rem;
  color: #333;
  cursor: pointer;
  font-family: 'inter';
}

.section-checks li::before {
  content: "✔️";
  color: #4a90e2;
}

.second-services {
  flex: 1 1 35%;
  border: 1px solid #4a90e2;
  padding: 20px;
  border-radius: 8px;
}

.second-services h3 {
  font-size: 1rem;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.second-services p {
  font-size: 0.95rem;
  font-family: 'inter';
  color: #444;
  margin-bottom: 20px;
  text-align: justify;
}

.second-services button {
  background-color: #1a365d;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: all 300ms ease-in-out;
}

.second-services button a{
  color: #fff;
}

.second-services button:hover {
  background-color: #274472;
  transition: all 300ms ease-in-out;
}

@media(max-width: 1280px) {
  .second-text-block {
    flex: 1 1 30%;
  }

  .second-services {
    flex: 1 1 10%;
  }

  .section-second-content {
    max-width: 1000px;
  }
}

@media(max-width: 1050px) {

  .section-second-content {
    flex-direction: column;
    max-width: 800px;
  }

  .second-services button {
    width: 30%;
  }
}

@media(max-width: 900px) {

  .section-second {
    height: 60rem;
  }

  .section-second-content {
    max-width: 80%;
  }

  .second-services button {
    width: 40%;
  }
}

@media(max-width: 500px) {
  
  .second-text-block {
    margin-top: 3rem;
  }

  .section-second-content {
    max-width: 90%;
    margin-bottom: 3rem;
  }

  .second-services button {
    width: 100%;
  }

}

.principles-principal-container {
  background-color: var(--color-primary);
  border: 1px solid var(--portfolio-color);
  width: 100%;
  z-index: 5;
  height: 80vh;
}

.principles-container {
  padding: 30px;
  max-width: 1200px;
  height: 40rem;
  margin: auto;
  margin-top: 2rem;
  color:rgb(227, 227, 227);
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.5;
}

.principles-container h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}

.tabs {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  border-bottom: 2px solid #ccc;
  margin-top: 3rem;
  color: var(--portfolio-color);
  transition: all 300ms ease-in-out;
  letter-spacing: 0.7px;
}

.tabs div.active {
  border-bottom: 4px solid var(--text-border-color);
  letter-spacing: 0.7px;
  transition: all 300ms ease-in-out;
  color: white;
  transform: scale(1.05);
}

.principles-content {
  position: relative;
  color: var(--portfolio-color);
  text-align: center;
  padding: 60px 30px;
  background-size: cover;
  background-position: center;
  min-height: 80px;
  font-weight: bold;
  transition: background-image 0.5s ease-in-out;
  background-color: white;
  letter-spacing: 0.7px;
}

.principles-text {
  position: relative;
  z-index: 1;
  font-size: 20px;
}

.clients-container {
  background-color: white;
  color: #333;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 19rem;
  max-height: 100vh;
}

.field-clients-flex {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Estilo do título e subtítulo */
.clients-container h1 {
  font-size: 28px;
  font-family: 'inter-bold';
  margin-bottom: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--color-primary);
}

.clients-container p {
  color: var(--subtitle-color);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: 'inter';
  margin-bottom: 5rem;
}

/* Swiper container */
.swiper-container {
  position: relative;
  width: 85%;
  margin: 0 auto;
  max-width: 1200px; /* Ajuste conforme necessário */
}

/* Container do swiper */
.swiper {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
}

/* Wrapper com display flex para os slides */
.swiper-wrapper {
  display: flex;
  align-items: center;
}

/* Ajustando os slides */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px; /* Espaçamento interno para evitar sobreposição */
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Logo */
.swiper-slide img {
  position: relative;
  width: 100%;
  max-height: 60px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

/* Hover na logo */
.swiper-slide img:hover {
  filter: grayscale(0%);
}

/* Paginação */
.swiper-pagination {
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 1245px) {

  .clients-container {
    height: 35rem;
  }

  .swiper-container {
    width: 70%;
  }
}

@media (max-width: 750px) {

  .swiper-container {
    width: 90%;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
      display: none;
  }
}


.last-contact-container {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.background-last-contact-container img {
  position: relative;
  width: 70%;
  top: 0rem;
  left: 30%;
  height: 80vh;
  z-index: -1;
  align-items: center;
  object-fit: cover;
}

.contact-side {
position: absolute;
top: 0;
left: 0;
width: 30%;
height: 100%;
background-color: var(--color-primary);
z-index: 1;
display: flex;
flex-direction: column;
justify-content: flex-start; /* joga o conteúdo para o topo */
padding: 40px; /* controle de espaçamento interno */
color: white;
}

.contact-side h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 5px;
}

.contact-side h1 strong {
  display: block;
  font-size: 32px;
  letter-spacing: 1px;
  margin-top: 5px;
}

.contact-side h2 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #a9cce3;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-info-item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  line-height: 1.5;
  transition: transform 0.2s ease;
  text-decoration: none;
  color: white;
}

.contact-info-item:hover {
  transform: translateX(5px);
  color: #c4e1ff;
}

.contact-info-item img {
  width: 28px;
  height: 28px;
  filter: brightness(0) invert(1);
  left: 0rem;
}

.contact-info-item a,
.contact-info-item span {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-info-item a:hover {
  color: #c4e1ff;
  text-decoration: underline;
}

.white-contact-line {
  background-color: white;
  width: 100%;
  height: 0.1rem;
}

.form-box {
  position: absolute;
  top: 50%;
  left: 65%; /* metade do caminho entre 50% e 100% */
  transform: translate(-50%, -50%);
  background-color: var(--color-primary);
  padding: 30px;
  border-radius: 10px;
  width: 80%;
  height: 32rem;
  max-width: 400px;
  color: white;
  transition: all 500ms ease-in-out;
}

.form-box:hover {
  transform: scale(1.1);
  transform: translate(-50%, -50%);
  transition: all 500ms ease-in-out;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

input, select, textarea, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}

input:hover, select:hover, textarea:hover, button:hover {
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
}

textarea {
  resize: vertical;
  height: 100px;
  transition: all 300ms ease-in-out;
}

textarea:hover {
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
}

button {
  background-color: #5a9bd4;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #417bbd;
}

@media(max-width: 1080px) {

.form-box {
  left: 70%;
}

.contact-side {
  width: 40%;
}

.contact-side h1 strong {
  font-size: 20px;
}

.contact-side h1 {
  font-size: 20px;
}

}

@media (max-width: 768px) {
  .form-box {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    top: 50%;
  }

  .contact-side {
    display: none;
  }


  .background-last-contact-container img {
    width: 100%;
    left: 0;
  }
  
}

.footer {
  background-color: #0d3d66;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

.footer-bottom {
  text-align: center;
  font-size: 13px;
  padding: 15px;
  background-color: var(--color-primary)
}

.hero-clientes::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #254163);
  z-index: 1;
}